*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 body {
    background:rgb(13, 13, 13);
 } 
 .container{
      border: solid blue 3px ;
      background: #121111;
      width : 80vw ;
      height: 100vh;  
      margin: auto ;
      padding : 10px ;
      border-radius: 5px;
      display:grid;
      grid-template-columns: 5fr 3fr;
 }
 .img{
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
    
 }
 .img img,canvas{
     max-width: 50vw;
     max-width: 60vh;
  
 }
 .Upload input{
     display: none;

 }
 .Upload label{
    
    color: aliceblue;
    padding: 15px;
    cursor:pointer;
    border: 2px dashed  ;
    
 }
 .filtter ul li{
     display: flex;
     flex-direction: column;
     gap: 22px;
     margin: 7px 0;
    
 }
 .filtter ul li label{
    color: white;
    direction: rtl;
 }

 .filtter ul li:last-child{
        flex-direction: row;
        justify-content: space-around;
        margin: 55px 20px;
        color: white;      
 }
 .filtter ul li a ,span {
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
 }
 .filtter ul li :in-range{
     color: blue;
 }
@media screen and (max-width:700px)  {
    .container{
         grid-template-columns: 1fr;
         gap: 45px;
    }
 .img img,canvas{
         max-width: 80vh;
 }
    
}